* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin-top: 50px;
}

.display--container {
    height: 400px;
    width: 500px;
    border: 1px solid black;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
}

.button--container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.button--container > button {
    width: 100px;
    padding: 8px 12px;
    margin: 8px 0px;
}

.hidden {
    display: none;;
}

.result {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.player--selection,
.computer--selection {
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.display--scores {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.display--scores button {
    padding: 8px 12px;
    margin-top: 8px;
}